@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700&display=swap');

:root {
    --background: linear-gradient(to bottom, #6AB7F5, #FFF);
    --black: #000;
    --gray-100: #AAA;
    --gray-200: #888;
    --gray-400: #3A444D;
    --gray-500: #444;
    --gray-600: #333;
    --white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}


body {
    text-align: center;
    background: var(--background);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon_img {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemon__data {
    position: absolute;
    font-weight: 600;
    color: var(--gray-100);
    top: 54.5%;
    right: 27%;

    font-size: clamp(8px, 6vw, 25px);
}

.pokemon__name {
    color: var(--gray-400);
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input__search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid var(--gray-600);
    border-radius: 5px;
    font-weight: 600;
    color: var(--gray-400);
    font-size: clamp(8px, 6vw, 1rem);
    box-shadow: -3px 4px 2px var(--gray-200), -5px 7px 0 var(--gray-600);
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid var(--black);
    border-radius: 5px;
    font-size: clamp(5px, 5vw, 1rem);
    font-weight: 600;
    color: var(--white);
    background-color: var(--gray-500);
    box-shadow: -2px 3px 0 #222, -4px 6px 0 var(--black);
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: .9rem;
}